<div class="py-4 px-4">
  <a href="{{ routes.collections_url }}" class="text-gray-500 hover:underline text-base text-center block px-4 py-4"
    >Go Back to Collections</a
  >
  {% paginate collection.products by section.settings.products_per_page %}
    <h1 class="text-3xl text-center">{{ collection.title }}</h1>

    <div class="mx-auto max-w-6xl">
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3  gap-4">
        {% for product in collection.products %}
          {% render 'product-cart', product_product: product, show_vendor: section.settings.show_vendor %}
        {% else %}
          <p>There are no products in this collection.</p>
        {% endfor %}
      </div>
    </div>

    {% render 'pagination', pagination: paginate %}
  {% endpaginate %}
</div>

{% schema %}
{
  "name": "Template Collection",
  "settings": [
    {
      "type": "number",
      "id": "products_per_page",
      "default": 6,
      "label": "Products per page"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": true,
      "label": "Show Vendor Name"
    }
  ]
}
{% endschema %}
